
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Medium';
    src: url('./HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Bold';
    src: url('./HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
}
